body{
    margin-left: 0px;
}
.test{
    height: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(
        90deg,
        red 15%,
        darkgreen 30%,
        yellow 95%
    );   
}

.test2{
    width: 700px;
    height: 70px;
    border: 5px solid red;
    border-radius: 30px;
    background-color: gray;
    margin: 10px 25%;
}
ul{
    position: relative;
    left: 270px;
}

.box{
    height: 180px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: violet;
    border: 5px solid grey;
    border-radius: 15px;
}
.lorem1{
    text-align: left;
    background-color: turquoise;
    border: 5px solid darkgreen;
    border-radius: 15px; 
    margin-left: 20px;
}
.lorem2{
    text-align: left;
    background-color: turquoise;
    border: 5px solid darkgreen;
    border-radius: 15px;
    margin: 0px 0px 1px 20px; 
}
.lorem3{
    text-align: left;
    background-color: turquoise;
    border: 5px solid darkgreen;
    border-radius: 15px;
    margin: 0px 15px 6px 20px; 
}
.lorem4{
    text-align: left;
    background-color: turquoise;
    border: 5px solid darkgreen;
    border-radius: 15px;
    margin: 0px 40% 0px 105%;
    max-width: 105%;
    width: 90%; 
}

.test3{
    height: 30px;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(
        90deg,
        red 15%,
        orange,
        yellow,
        orange,
        red 85%
    );   
    position: relative;
    top: 20px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid darkgreen;
    height: 200px;
    background-image: radial-gradient(
        blue,
        green
    );
    position: relative;
    top: 30px;
}
.flex-item{
    text-align: center;
    color: maroon;
    font-weight: bold;
    text-decoration: underline;
    border: 3px solid red;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: yellow;
    margin: 40px;
    position: relative;
    left: 110px;
}
 

.grid-container{
    color: white;
    font-weight: bold;
    border: 1px solid gray;
    display: grid;
    grid-template-rows: 35px 60px 120px 20px;
    grid-template-columns: repeat(3,1fr)130px;
    gap: 10px;
    position: relative;
    top: 50px;
}

.grid-item1{
    text-align: center;
    font-size: 18px;
    background-color: red;
    grid-column: 1/5;
}
.grid-item2{
    text-align: center;
    font-size: 21px;
    background-color: green;
}
.grid-item3{
    text-align: left;
    font-size: 21px;
    background-color: dodgerblue;
}
.grid-item4{
    text-align: left;
    font-size: 17px;
    background-color: blueviolet;
}
.grid-item5{
    font-size: 14px;
    font-weight: lighter;
    background-color: black;
    grid-row: 2/4;
    grid-column: 4/5;
}
li{
    position: relative;
    bottom: 10px;
}
hr{
    width: 125px;
    position: relative;
    bottom: 20px;
    right: 41px;
}
.grid-item6{
    text-align: left;
    font-size: 18px;
    background-color: orange;
    grid-column: 1/4;
}
.grid-item7{
    color: black;
    font-size: 18px;
    text-align: center;
    background-color: aqua;
    grid-column: 1/5;
}